html, body{
  font-family:'DM Sans', sans-serif;
  margin: 0;
  background-size: cover;
  background-color: #f2f6f8;
  }
  
h2{
  color: #cc1a1a;
  font-size: 30px;
}

p{
  justify-content: center;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

h1{
  font-size: 600%;
  color: #cc1a1a;
  text-shadow: 10px 10px 10px #000;
}
h2{
    font-size: 200%;
    color: #cc1a1a;
    text-shadow: 1px 1px 1px #000;
}
header{
  background-image: url("aaaa.jfif");
  padding: 100px;
  text-align: center;
  background-size: cover;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header img{
  border-radius: 174px;
  width: 250px;
  border: 10px solid #6FA8C6;
  background-color: #f31010;
  box-shadow: none;
  transition-property: ease-out;
  transition: 200ms;
}

header img:hover{
  border: 15px solid #f31010;
  background-color: #f31010;
  transform: translateY(-20px);
  box-shadow: 0px 6px 5px 10px rgba(20,20,20,0.5);
}

.content{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  color: #110909;
}

img.big-image{
  border: 8px solid #6FA8C6;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

p.caption{
  font-size: 20px;
  color: #cc1a1a;
  font-style: italic;
  text-align: center;
}

ol{
  color:#000000;;
  list-style: disc;
  font-size: 18px;
  line-height: 25px;
}

.icon{
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 5px solid #6FA8C6;
  border-radius: 174px;
  background-color: #ce1111;
  box-shadow: 0px 5px 5px 3px rgba(20,20,20,0.5);
  transition-property: ease-out;
  transition: 400ms;
}

.baymax{
  text-align: center;
  color: #cc1a1a;
}

.friends{
  text-align: center;
}

.icon:hover{
  width: 100px;
  border: 5px solid #f31010;
  background-color: #f31010;
  transform: translateY(-20px);
  box-shadow: 0px 6px 6px 6px rgba(20,20,20,0.5);
  cursor: pointer;
}

ul{
  color: #cc1a1a;
  list-style: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

footer{
  margin-top: 20px;
  padding: 40px 20px;
  background-color: #6FA8C6;
  background-image: url("aaaa.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  padding: 40px 20px; 
  text-align: center;  
  color: #A0A9B7;
} 

footer ul{
  font-size: 16px;
  text-align: center;
}

footer ul li{
  color: #cc1a1a;
  display: inline-block;
  margin: 0 5px;
}

footer ul li a{
  color: #ebedf3;
}
